
.about-container{
   padding:4rem 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: var(--txt-body-color);
  
}

.about-container img{
  width: 20rem;
  height: 21rem;
  border-radius: 50%;
 
}

.circle{
  content: "";
  width: 21rem;
  height: 22rem;
  border-radius: 50%;
  background-color: var(--txt-body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.about-container h1{
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.about-container p{
  font-family: 'Poppins', sans-serif;
  text-align: start;
  font-size: 1.5rem;
}
.about-container p a{
  color: white;
  text-decoration: 2px underline white;
}
.about-section h2{
  text-align: start;
  /* text-decoration: 4px underline white; */
  margin :2rem 0;
  font-size: 2rem;
  /* font-weight: 800; */
}